/**
 * @name Greenish
 * @description Green recolor for discord
 * @author Eoakes
 * @version 1.0.0
 * @authorId 00
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 63,84,74;
  --accentcolor2: 255,235,59;
  --linkcolor: 1,137,190;
  --mentioncolor: 255,193,7;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: gg sans;
  --backgroundaccent: 25,47,45;
  --backgroundprimary: 18,26,22;
  --backgroundsecondary: 27,39,33;
  --backgroundsecondaryalt: 16,20,19;
  --backgroundtertiary: 28,49,44;
  --backgroundfloating: 27,39,33;
  --settingsicons: 1;
}

/* Any custom CSS below here */


